@CHARSET "UTF-8";

body {
    font-family: "Lato", sans-serif;
    margin:0px;
}


/*index page*/

.myprogress {
	height: 30px;
}


.myprogressbar {
	font-size: 18px;
	padding-top:5px;
}

.bg-grey {
      background-color: #f6f6f6;
}


#content-grid{
padding-bottom:20px
}

#contact{
padding:20px 0;
}


/*devices list page*/

#deviceUL li{
	cursor:pointer;
	font-size:16px;
}

.footer {
position:fixed;
bottom:0;
height:60px;
width:100%;
padding-top:20px;
color: grey;
}

#addDeviceBtn {
	width:200px;
}

#errorMsg {
	margin: 5px;
}

